*.exe
*.a
*.so
*~
*.mod

xios_client*

phyparam/include
phyparam/lib
phyparam/obj
phyparam/tmp
phyparam/xml
phyparam/Makefile.inc
phyparam/python/phyparam.*
phyparam/python/build
phyparam/driver/driver
phyparam/driver/fort.*
phyparam/driver/gmon.out

config/DYNAMICO/modeles/XIOS
config/DYNAMICO/modeles/DYNAMICO
config/DYNAMICO/rebuild_DYNAMICO.sh

config/DYNAMICO/TEST/*.xml
